.vh-50 {
    height: 50vh !important;
}

.vh-75 {
    height: 75vh !important;
}

.vh-25 {
    height: 25vh !important;
}

.message {
    position: fixed !important;
    max-width: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    top: 2rem;
    overflow: hidden;
    z-index: 1000;
}